{% extends 'base.html' %}

{% block content %}

<style type="text/css">
    li {
        list-style-type: none;
    }
    ul {
        padding-left: 0;
    }
    .container-main {
        display: flex;
        justify-content: center;
    }
    .content-container {
        min-width: 350px;
        max-width: 500px;
    }
.stat {
    position: relative;
    padding-right: 8em; /* чтобы элемент не был поверх содержимого родителя */
  }
  .stat:not(:last-child) {
    margin-bottom: 5px;
}
  .stat input {
    position: absolute; 
    top: 0; 
    right: 0;
  }
  .item-delete {
    position: absolute; 
    top: 13px; 
    right: 14px;
  }
  .item-modifier-add {
    position: absolute; 
    top: 58px; 
    right: 14px;
  }
  .item {
    position: relative;
      border: 1px solid black;
      padding: 5px 5px 0 ;
      background-color: #DEE3E9;
      border-radius: 10px;
  }
  .item:not(:last-child) {
      margin-bottom: 5px;
  }
  .item-name {
      font-size: 22px;
      width: 100%;
      margin-bottom: 5px;
  }
  .item-description {
      font-size: 18px;
      width: 100%;
      margin-bottom: 0px;
  }
  .item-modifier {
      font-size: 14px;
      margin-bottom: 5px;
      padding-right: 5px;
  }
  .item-modifier input {
    width: 100%;
    margin-right: 5px;
  }
  .border {
    border-radius: 5px;
    border-width: 1px;
  }
  .text-bold {
      font-weight: bold;
      font-size: 16px;
  }
</style>


<div class="container-main mt-1">
    <div>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <ul class="content-container line-height-1.5 text-bold" id="ul_parameters">
        {% for parameter in content %}
        <li class="d-flex stat">
            {{ parameter.1 }}: ⁣<input class="text-bold" onchange="parameter_onchange('{{ parameter.0 }}')" value="{{ parameter.2 }}"></input>
        </li>
        {% endfor %}
    </ul>
    <div class="content-container" style="position: relative;">
        <div class="d-flex">
            <div class="d-flex pe-5 text-bold">Инвентарь</div>
            <div onclick="create_item()" style="position: absolute; top: 20px; right: 20px;">
                <span class="material-symbols-outlined">
                    add_box
                </span>
            </div>
        </div>
            <ul class="mt-2" id="ul_inventory">
                {% for item in inventory %}
                <li class="item">
                    <input class="item-name border" onchange="item_name_onchange({{item.0}})" value="{{item.1}}"></input>
                    <textarea class="item-description border" onchange="item_description_onchange({{item.0}})">{{item.2}}</textarea>
                    <div class="item-delete" onclick="item_delete_onclick({{item.0}})">
                        <span class="material-symbols-outlined">
                            remove
                        </span>
                    </div>
                    <div class="item-modifier-add" onclick="create_item_modifier({{item.0}})">
                        <span class="material-symbols-outlined">
                        add
                        </span>
                    </div>
                    <ul>
                        {% for modifier in item.3 %}
                        <li class="d-flex item-modifier">
                            <input class="border" onchange="item_modifier_onchange({{item.0}}, {{modifier.0}})" value="{{modifier.1}}" />
                            <div onclick="delete_item_modifier({{item.0}}, {{modifier.0}})">
                                <span class="material-symbols-outlined">
                                    remove
                                </span>
                            </div>                        
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div>
</div>

<script type="text/javascript">
	var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
	var ws_path = ws_scheme + '://' + window.location.host + "/lobby_asgi/{{lobby_name}}/"; 
	//var ws_path = ws_scheme + '://' + window.location.host + "/lobby_asgi/{{lobby_name}}:8001/"; 
    var player_socket = new WebSocket(ws_path);

    var ul_parameters = document.getElementById("ul_parameters")
    var ul_inventory = document.getElementById("ul_inventory")

    function parameter_onchange(parameter_id) {
        player_socket.send(JSON.stringify({
            "lobby_name": '{{lobby_name}}',
            "command": "parameter_update",
            "parameter_id": parameter_id,
            "parameter_value": ul_parameters.children[parameter_id].children[0].value,
        }))
    }

    function create_item() {
        player_socket.send(JSON.stringify({
        "lobby_name": '{{lobby_name}}',
        "command": "create_item",
        }))

        item_id = ul_inventory.children.length
        li = ul_inventory.appendChild(document.createElement("li"))
        li.appendChild(document.createElement("input")).setAttribute("onchange","item_name_onchange("+item_id+")")
        li.appendChild(document.createElement("textarea")).setAttribute("onchange","item_description_onchange("+item_id+")")
        li.appendChild(document.createElement("div")).setAttribute("onclick","item_delete_onclick("+item_id+")")
        li.appendChild(document.createElement("div")).setAttribute("onclick","create_item_modifier("+item_id+")")
        li.appendChild(document.createElement("ul"))

        li.classList.add("item")
        ul_inventory.children[item_id].children[0].classList.add("item-name","border")
        ul_inventory.children[item_id].children[1].classList.add("item-description", "border")
        ul_inventory.children[item_id].children[2].appendChild(document.createElement("span")).classList.add("material-symbols-outlined", )
        ul_inventory.children[item_id].children[2].children[0].textContent = "remove"
        ul_inventory.children[item_id].children[2].classList.add("item-delete")
        ul_inventory.children[item_id].children[3].appendChild(document.createElement("span")).classList.add("material-symbols-outlined")
        ul_inventory.children[item_id].children[3].children[0].textContent = "add"
        ul_inventory.children[item_id].children[3].classList.add("item-modifier-add")
    }
    
    function item_name_onchange(item_id) {
        player_socket.send(JSON.stringify({
            "lobby_name": '{{lobby_name}}',
            "command": "update_item_name",
            "item_id": item_id,
            "item_name": ul_inventory.children[item_id].children[0].value,
        }))
        console.log("В предмете", item_id, "был изменено название на", ul_inventory.children[item_id].children[0].value,)
    }

    function item_description_onchange(item_id) {
        player_socket.send(JSON.stringify({
            "lobby_name": '{{lobby_name}}',
            "command": "update_item_description",
            "item_id": item_id,
            "item_description": ul_inventory.children[item_id].children[1].value,
        }))
        console.log("В предмете", item_id, "был изменено описание на", ul_inventory.children[item_id].children[1].value,)
    }

    function item_delete_onclick(item_id) {
        player_socket.send(JSON.stringify({
            "lobby_name": '{{lobby_name}}',
            "command": "delete_item",
            "item_id": item_id,
        }))
        console.log("удален предмет", item_id)
        ul_inventory.removeChild(ul_inventory.children[item_id])
        for (i=item_id; i<ul_inventory.children.length; i++) {
            ul_inventory.children[i].children[0].setAttribute("onchange","item_name_onchange("+i+")");
            ul_inventory.children[i].children[1].setAttribute("onchange","item_description_onchange("+i+")");
            ul_inventory.children[i].children[2].setAttribute("onclick", "item_delete_onclick("+i+")");
            ul_inventory.children[i].children[3].setAttribute("onclick", "create_item_modifier("+i+")");
            for (modifier_id=0; modifier_id<ul_inventory.children[i].children[4].children.length; modifier_id++) {update_item_modifier(i, modifier_id);}
            console.log("предмет", i+1, "стал предметом", i)
        }        
    }

    function create_item_modifier(item_id) {
        player_socket.send(JSON.stringify({
            "lobby_name": '{{lobby_name}}',
            "command": "create_item_modifier",
            "item_id": item_id,
        }))
        
        li = ul_inventory.children[item_id].children[4].appendChild(document.createElement("li"))
        li.appendChild(document.createElement("input")).
           setAttribute("onchange","item_modifier_onchange("+item_id+","+(ul_inventory.children[item_id].children[4].children.length-1)+")")
        li.appendChild(document.createElement("div")).
           setAttribute("onclick","delete_item_modifier("+item_id+","+(ul_inventory.children[item_id].children[4].children.length-1)+")")
        li.classList.add("d-flex", "item-modifier")
        li.children[0].classList.add("border")
        li.children[1].appendChild(document.createElement("span")).classList.add("material-symbols-outlined")
        li.children[1].children[0].textContent = "remove"
    }

    function item_modifier_onchange(item_id, modifier_id) {
        player_socket.send(JSON.stringify({
            "lobby_name": '{{lobby_name}}',
            "command": "update_item_modifier",
            "item_id": item_id,
            "modifier_id": modifier_id,
            "modifier_value": ul_inventory.children[item_id].children[4].children[modifier_id].children[0].value,
        }))
        console.log("В предмете", item_id, "был изменен модификатор", modifier_id, "на", ul_inventory.children[item_id].children[4].children[modifier_id].children[0].value)
    }

    function delete_item_modifier(item_id, modifier_id) {
        ul_inventory.children[item_id].children[4].removeChild(ul_inventory.children[item_id].children[4].children[modifier_id])
        console.log("модификатор", modifier_id, "предмета", item_id, "удален")
        for (i=modifier_id; i<ul_inventory.children[item_id].children[4].children.length; i++) {
            update_item_modifier(item_id, i)
            console.log("модификатор", i+1, "предмета", item_id, "стал модификатором", i)
        }
        player_socket.send(JSON.stringify({
            "lobby_name": '{{lobby_name}}',
            "command": "delete_item_modifier",
            "item_id": item_id,
            "modifier_id": modifier_id,
        }))
    }

    function update_item_modifier(item_id, modifier_id) {
        ul_inventory.children[item_id].children[4].children[modifier_id].children[0].setAttribute("onchange","item_modifier_onchange("+item_id+","+modifier_id+")")
        ul_inventory.children[item_id].children[4].children[modifier_id].children[1].setAttribute("onclick","delete_item_modifier("+item_id+","+modifier_id+")")
    }
</script>


{% endblock content %}