{% extends 'base.html' %}

{% block content %}

<style type="text/css">

</style>

<div class="container-fluid mt-5">
    <div class="d-flex justify-content-center">
        <div class="flex-column">
            <a class="btn btn-lg btn-primary btn-block" href="{% url 'create_lobby' %}" style="display: block;">Создать лобби</a>
            <a class="btn btn-lg btn-primary btn-block px-3 mt-1" href="{% url 'connect_lobby' %}">Войти в лобби</a>
        </div>
    </div>
</div>


{% endblock content %}