{% extends 'base.html' %}

{% block content %}

<style type="text/css">
    li {
        list-style-type: none;
    }
    ul {
        padding-left: 0;
    }
</style>


{% if is_master %}
<div class="container-main mt-1 ms-1">
    <ul id="ul_master" style="display: flex;">
        <li style="padding-right: 20px;">
            <ul>
                {% for parameter in content %}
                <li>
                    {{ parameter.1 }}
                </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
{% else %}
<div class="container-main mt-1 ms-1">
    <ul>
        {% for parameter in content %}
        <li>
            <p>{{ parameter.1 }}</p>
            <p><input type="text" name="{{parameter.1}}" id="id_character_{{parameter.0}}" onchange="input_onchange('{{parameter.0}}')" value="{{parameter.2}}"></input></p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<script type="text/javascript">
	var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";


    {% if is_master %}
	var ws_path = ws_scheme + '://' + window.location.host + "/lobby_master_asgi/{{lobby_name}}/"; 
    var master_socket = new WebSocket(ws_path);

    const ul_control = document.querySelector('#ul_master')
    var li_main = []
    for(i=0; i<{{players}}.length; i++) {
        li_main.push(document.createElement('li'))
        ul_control.appendChild(li_main[i])
        li_main[i].appendChild(document.createElement('ul'))
        li_main[i].style.paddingRight = "10px"
        {% for parameter in content %}
        var li_el = document.createElement('li')
        li_main[i].children[0].appendChild(li_el)
        {% endfor %} 
        
    }
    

    function update_data() {
        master_socket.send(JSON.stringify({
            "command": "get_update",
            "lobby_name": '{{lobby_name}}',
        }))
    }

    master_socket.onopen = function(e) {
        master_socket.send(JSON.stringify({
            "lobby_name": '{{lobby_name}}',
            "command": "get_data",
        }))
    }


    var dict = []
    {% for i in players %}
    dict.push({{i}})
    {% endfor %}
    master_socket.onmessage = function(message) {
        var data = JSON.parse(message.data);
        if (data.update_data) {
            content = data.data_to_update
            console.log(content)
            if (content) {
                for (i=0; i < content.length; i++) {
                    id_in_lobby = dict.indexOf(content[i][0])
                    li_main[id_in_lobby].children[0].children[content[i][1]].textContent = content[i][2]
                }
            }
            setTimeout(update_data, 1000)
        }
        if (data.receive_data) {
            for(i=0; i<{{players}}.length; i++) {
                for(j=0; j<li_main[0].children[0].children.length; j++) {
                    text = data.content[i][1][j]
                    if (text) {
                        li_main[i].children[0].children[j].textContent = text
                    }
                    else {
                        li_main[i].children[0].children[j].textContent = "⁣"
                    }

                }
            }
            setTimeout(update_data, 2000) 
        }
    }



   

    {% else %}
	var ws_path = ws_scheme + '://' + window.location.host + "/lobby_asgi/{{lobby_name}}/"; 
    var player_socket = new WebSocket(ws_path);

    function input_onchange(parameter_id) {
        var parameter_value = document.getElementById("id_character_" + parameter_id).value
        player_socket.send(JSON.stringify({
            "lobby_name": '{{lobby_name}}',
            "command": "parameter_update",
            "parameter_id": parameter_id,
            "parameter_value": parameter_value,
        }))
    }
    {% endif %}

</script>


{% endblock content %}